<div class="modal-header">
    <h3 style="color:#000;">&nbsp;&nbsp;Create Daily Event</h3>
</div>
<form name="form.userForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">

        <!-- <div class="form-group">
            <label style="color:#000;">Name</label>
            <input type="text" class="form-control" ng-model="formData.name" required>
        </div> -->

         <div class="form-group">
            <label style="color:#000;">Price</label>
            <input type="number" min = "1" class="form-control" ng-model="formData.price" required>
        </div>

        <div class="form-group">
           <label style="color:#000;">Start Date</label>
           <input type="date" class="form-control" ng-model="formData.date" required>
       </div>

        <div class="form-group">
         <label style="color:#000;">Days Off</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day0" value="0"  style="color:#000;"><label style="color:#000;">&nbsp;Sunday</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day1" value="1" style="color:#000;"> <label style="color:#000;">&nbsp;Monday</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day2" value="2" style="color:#000;"> <label style="color:#000;">&nbsp;Tuesday</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day3" value="3"  style="color:#000;"> <label style="color:#000;">&nbsp;Wednesday</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day4" value="4" style="color:#000;"> <label style="color:#000;">&nbsp;Thursday</label><br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day5" value="5" style="color:#000;"> <label style="color:#000;">&nbsp;Friday</label> <br>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model = "formData.day6" value="6" style="color:#000;"> <label style="color:#000;">&nbsp;Saturday</label> <br>
       </div>

         <!-- <div class="form-group"> -->
            <label style="color:#000;">StartTime</label>
            <input type="time" class="form-control" ng-model="formData.starttime" required><br>
            <label style="color:#000;">EndTime</label>
            <input type="time" class="form-control" ng-model="formData.endtime" required><br>
            <!-- <h4 style="color:#000;">Format: starttime-endtime</h4> -->
        <!-- </div> -->

    </div>
    <div class="modal-footer">
        <div style = "color:#ff0000">
            {{error}}
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" style="color:#000;">Create</button>
        <button class="btn btn-warning" ng-click="cancel()" style="color:#000;">Cancel</button>
    </div>
