<section id="services" class="bg-one" >
    <div class="container" >
        <div class="row" >

            <!-- / Start Add Business Area -->
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms">

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms" style="padding-bottom: 60px">
                    <h2>Forgot <span class="color">Password</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
                <form name="form.userForm" ng-submit="submitForm(formData)" novalidate>
                    <div class="modal-body">

                      <div class="alert alert-danger" ng-if = "err">{{err}}</div>
                      <div class="alert alert-success" ng-if = "success">{{success}}</div>

                      <div class="form-group" >
                          <label>Email</label>
                          <input type="email" name="email" class="form-control" ng-model="formData.email" required>
                          <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                      </div>



                    </div>
                    <div class="modal-footer" >
                        <button type="submit" class="btn btn-primary" >Send</button>
                        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
                    </div>
                </form>




            </div>
            <!-- / End Add Business Area -->

          </div>
        </div>
      </section>
