<div class="container">
	<div class="static-page ">
		<h1>Privacy Policy</h1>

		<div class="static-content ">
			<strong>Introduction </strong></p>
			<p>This policy explains how we, Fasa7ny, use the personal information which you provide to us when using our service, including but not limited to our website and facebook bot(jointly referred as “Website”). </p>
			<p>Please read this Privacy Policy and understand it before using our services. By visiting and/or ordering services on this Website, you agree and, where required, consent to the collection, use and transfer of your information as set out in this policy. </p>
			<p>
				&nbsp;</p>
				<p>
					<strong>What information do we collect about you? </strong></p>
					<p>We collect personal information from you when you order goods or services from us or use our Website. We also collect information when you complete any customer survey. Website usage information may also be collected using cookies (as defined below).</p>
					<p>Fasa7ny will collect information that personally identifies you, where required (this may include your name, email address, home address, telephone number, geolocation, etc.), but only when you voluntarily give it to us. We collect this information exclusively to carry out the functions offered on the Website and to provide you with offers and information about Fasa7ny and other services we think you may be interested in. We might collect this personal information through: creating a user account; online booking; subscribing to one of our businesses; sending 'contact us' messages or other correspondence through the Website; or through advertising, research and direct marketing.
					</p>
					<p>We do not collect sensitive information about you. </p>
					<p>
						&nbsp;</p>
						<p>

							<strong>Cookies </strong></p>
							<p>Some of the information collected will not personally identify you but will instead track your use of the Website so that we can better understand how the Website is used by customers and in turn enhance and improve your experience. We may obtain this information by use of cookies. Cookies are a small data file transferred to your device that recognises and identifies your device and allows your device to 'remember' information from the Website for future use. Cookies do not contain any information that personally identifies you and we do not use cookies in order to obtain such information - your personal information can only be obtained by Fasa7ny if you actively provide it to us. Your device and/or the web browser should allow you to refuse cookies if you wish by changing the settings. </p>
							<p>To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit www.allaboutcookies.org. </p>
							<p>
								&nbsp;</p>
								<p>


									<strong>Storage and security of your personal information </strong></p>
									<p>Fasa7ny will use all reasonable endeavours to maintain the security of your personal information and to protect your personal information from misuse, interference and loss and against unauthorised access, modification or disclosure. Fasa7ny will destroy any personal information it holds about you which it no longer requires under the terms of this Privacy Policy. </p>
									<p>Where you have chosen a password to access certain services of the Website, you are responsible for keeping your password confidential. We recommend not sharing your password with anyone.</p>
									<p>
										&nbsp;</p>
										<p>

											<strong>Access to your information </strong></p>
											<p>Fasa7ny will use all reasonable endeavours to keep personal information it holds accurate, complete, up-to-date, relevant and not misleading. Please contact us if you would like to access the personal information Fasa7ny holds about you. We will use reasonable endeavours to provide a complete list of your personal information within a reasonable period of receipt of your request. Please email us if you would like to receive a copy of this information 

											</p>
											<p>You may contact us to correct any of your personal information that is inaccurate, incomplete or out-of-date, or to request that your personal information be deleted. We will use reasonable endeavours to correct or delete your personal information as requested within a reasonable period of receipt of your request.  </p>


											&nbsp;</p>
											<p>

												<strong>Changes to our Privacy Policy</strong></p>
												<p>Fasa7ny reserves the right to alter all or any part of this Privacy Policy. Any changes thereto will be notified via the Website and, where appropriate, through e-mail notification. </p>
												<p>
													&nbsp;</p>
													<p>


													</div>
												</div>
											</div>

											<div class="container">
<div class="row">

	<!-- section title -->
	<div class="title text-center wow fadeIn" data-wow-duration="500ms">
		<h2>Get In <span class="color">Touch</span></h2>
		<div class="border"></div>
	</div>
	<!-- /section title -->

	<!-- Contact Details -->
	<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
		<h3>Contact Details</h3>
		<p>Interested business? Intrigued party? Please send us your enquiry using one of the following: </p>
		<br>
		<div class="contact-details">
			<div class="con-info clearfix">
				<i class="fa fa-home fa-lg"></i>
				<span>Somewhere over the rainbow</span>
			</div>

			<div class="con-info clearfix">
				<i class="fa fa-phone fa-lg"></i>
				<span>Phone: 01223456789</span>
			</div>

			<div class="con-info clearfix">
				<i class="fa fa-fax fa-lg"></i>
				<span>Fax: +987456123</span>
			</div>

			<div class="con-info clearfix">
				<i class="fa fa-envelope fa-lg"></i>
				<span>Email: fasa7ny.team@gmail.com</span>
				<br><br><br><br><br><br><br>
			</div>
		</div>
	</div>


	<!-- / End Contact Details -->

	<div class="social-icon">
		<ul>
			<li><a href="https://www.facebook.com/Fasa7ny-1886931471525333/"><i class="fa fa-facebook"></i></a></li>
		</ul>
	</div>


</div> <!-- end row -->
</div> <!-- end container -->

