

    <div class="modal-body">
        
        <div class="form-group">
            <label style="color:#000;">Are you sure you want to make your page public?</label>
            <p style="color:#000;">This can not be undone.</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" style="color:#000;" ng-click="submitForm()">Yes</button>
        <button class="btn btn-warning" ng-click="cancel()" style="color:#000;">No</button>
    </div>
