<section id="blog-page">
    <div class="container">
        <div class="row">


 <!-- RIGHT Section -->
            <div id="right-sidebar" class="col-md-4 col-sm-4">

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>Business <span class="color">Information</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->

                <div class="post-item">
                    <!-- Single Post -->
                    <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                       
                        <div class="post-excerpt">  <!-- first section beginning !-->
                            <!-- profile details !-->
                            <div>

                                <div style="padding-left: 23px;"> 
                                    <a style="font-size: 20px; color:white; margin-top: 2px; margin-bottom: 2px; opacity: 0"> 
                                        no data
                                    </a>
                                </div>


                                <div style="padding-left: 25px;"> 
                                    <a style="font-size: 20px; color:white; margin-top: 4px; margin-bottom: 4px;"> 
                                        {{ user.local.username }}  <!-- ASK !-->
                                    </a>
                                </div>


                                <div style="padding-left: 25px;"> 
                                    <a style="font-size: 20px; color:white; margin-top: 4px; margin-bottom: 4px;"> 
                                        {{ user.phone }}
                                    </a>
                                </div>


                                <div style="padding-left: 25px;"> 
                                    <a style="font-size: 20px; color:white; margin-top: 4px; margin-bottom: 4px;"> 
                                        {{ user.birthdate | date}}
                                    </a>
                                </div>

                                <div style="padding-left: 25px;"> 
                                    <a style="font-size: 20px; color:white; margin-top: 4px; margin-bottom: 4px;"> 
                                        {{ user.gender }}
                                    </a>
                                </div>

                             

                                <div style="padding-left: 23px;"> 
                                    <a style="font-size: 20px; color:white; margin-top: 2px; margin-bottom: 2px; opacity: 0"> 
                                        no data
                                    </a>
                                </div>

                            </div>
                        </div>  <!-- first section end !-->
                    </article> <!-- End Single Post -->

                </div>
            </div> <!-- End RIGHT Section -->

            </div>
            </div>
            </section>
