<section id="services" class="bg-one">
    <div class="container">
        <div class="row">

            <!-- / Start Add Business Area -->
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms">

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms" style="padding-bottom: 60px">
                    <h2>Edit <span class="color">Profile</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->

                <form name="form.userForm" ng-submit="submitForm()">
                    <div class="alert alert-danger" ng-if = "error">{{error}}</div>

                    <div class="form-group">
                        <input type="text" placeholder="Name" class="form-control" name="name" id="name" ng-model="formData.name">
                    </div>


                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" name="email" id="email" ng-model="formData.email">
                    </div>

                    <div class="form-group">
                        <input type="date" placeholder="Birthdate" class="form-control" name="birthdate" id="birthdate" ng-model="formData.birthdate">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Phone" class="form-control" name="phone" id="email" ng-model="formData.phone">
                    </div>

          <!--           <div class="form-group">
                        <input type="text" placeholder="Gender" class="form-control" name="gender" id="email" ng-model="formData.name">
                    </div> -->

                    <div class="form-group">
                        <input type="text" placeholder="Address" class="form-control" name="address" id="address" ng-model="formData.address">
                    </div>

                    <label>Change Profile Picture</label>
                    <div class="form-group">
                        <input type="file" placeholder="img" class="form-control" name="img" id="img" file-model="formData.img">
                    </div>

                    <div ng-show = "user.gender == Female ">
                        <select ng-model="formData.gender">
                              <option value="" disabled selected> -- Choose Gender --</option>
                              <option value="Male">Male</option>
                              <option value="Female" selected="selected">Female</option>
                              <option value="Other">Other</option>
                        </select>
                    </div>

                    <div ng-show = "user.gender == Male ">
                        <select ng-model="formData.gender">
                              <option value="" disabled selected> -- Choose Gender --</option>
                              <option value="Male" selected="selected">Male</option>
                              <option value="Female">Female</option>
                              <option value="Other">Other</option>
                        </select>
                    </div>

                    <div ng-show = "user.gender == Other ">
                        <select ng-model="formData.gender">
                              <option value="" disabled selected> -- Choose Gender --</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                              <option value="Other" selected="selected">Other</option>
                        </select>
                    </div>

                    <select ng-model="formData.gender">
                          <option value="" disabled selected> -- Choose Gender --</option>
                          <option value="Male" selected="selected">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                    </select>

                    <br><br>



                    <div style = "float: right">
                        <button class="btn btn-booking" type="submit" style = "width:100px"> OK </button>
                        <button class="btn btn-booking" type="submit" ng-click="cancel()" style = "width:100px"> Cancel </button>

                    </div>


                </form>
            </div>
            <!-- / End Add Business Area -->
