<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>hi hi hi hi</p>

	<form action = "/add_business" method="post">

	<input type="text" name="username" ><br>
	<input type="text" name="category" ><br>
	<input type="text" name="merchant_id" ><br>
	<input type="submit"> AddBusiness </button>

	</form>


</body>
</html>