<!-- views/profile.ejs -->
<!doctype html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> User Profile Page</h1>
		<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

	<p><h4>My Subscriptions</h4></p>

            <div class="row">
                <% for(var i=0; i< subscriptions.length; i++){%>
                      <h6>  <%= subscriptions[i] %></h6>
                <% } %>
            </div>


	</div>

	</r></r>
	<div class="row">

	<p><h4>My Bookings</h4></p>

            <div class="row">
                <% for(var i=0; i< bookings.length; i++){%>
                      <h6> "Booking: " <%= bookings[i]%></h6></r>
                <% } %>
            </div>


	</div>


	 <br>
                        <form action = "/charge" method = "POST">
                        <script 
                        src = "https://checkout.stripe.com/checkout.js"
                        class = "stripe-button"
                        data-key = "pk_test_O1Gn3Rl11nLaHckNqvJOzaYz"
                        data-amount = "3000"
                        data-name = "test"
                        data-description = "balabizo"
                        data-locale = "auto"
                        data-currency = "egp"
                        ></script>
                        </form>


</div>
</body>
</html>
