<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>View Offers: </p>
    <% if(offers.length == 0) { %>
      <p>No offers to show</p>
      <% }%>
    <% for(var i = 0; i < offers.length; i++) {%>
      <%var d = new Date(); %>
    <%  if(d - offers[i].expiration_date < 0) { %>
      <p><%= offers[i] %></p>
      <p> ----------------------------------------------------- </p>
    <%}%>
    <% } %>
  </body>
</html>
